.App {
  align-items: center;
}
.home {
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
}

.input-control {
  margin: 10px 0;
}

.input-control input {
  display: block;
}

.input-control p {
  color: rgb(40, 141, 167);
  cursor: pointer;
}

span {
  color: red;
}